.rikesh-nav{

  & .navbar{
    position: sticky;
    top:0;
  }

  &__welcome-text{
    font-weight: bold;
    letter-spacing: 1.25px;
    max-width: 140px
  }

  &__notification-wrapper{
    width: 24px;
    padding: 0;
    & svg{
      width: 100%;
    }
  }

  .dropdown-menu{
    min-width: 320px;
    padding: 10px;

    & li>a{
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &__img{
    border-radius: 50%;
  }

  &__actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
  }

  &__settings{
    width: 24px;
    padding: 0;
    & svg{
      width: 100%;
    }
  }
}

.post-section{
  margin-top: 32px;
  &__wrapper{
    display: flex;
    flex-direction: column;
  }

  &__image-label{
    width: 300px;
    position: absolute;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    opacity: 0;
    background-color: #b7b7b785;
    backdrop-filter: blur(12px);
    & svg{
      width: 150px;
    }

    &:hover{
      opacity: 1;
    }
  }


  &__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap:10px;
  }

  &__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  &__avatar-img{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background: #FBFBFF;
  }

  &__hidden{
    display: none;
  }

  &__button{
    width: fit-content;
    margin-top: 10px;
  }

  &__form-element{
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    border-radius: 4px;
    gap: 10px;
    &--image-upload{
      width: fit-content;
      margin-bottom: 10px;
    }

    &--row{
      flex-direction: row;
    }

    &--no-border{
      border:0;
    }
  }
  
  &__story-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  &__story-item{
    border: 1px solid #e3e3e3;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:not(:last-child){
      margin-bottom: 8px;
    }
  }

  &__actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__action-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  &__like{
    display: flex;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 0px;
    padding: 0px;
    & svg{
      width: 100%;
      height: 100%;
    }
    &.active{
      svg{
        fill:var(--bs-primary);
        stroke: transparent;
      }
    }
  }
  &__liked-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    &span{
      font-size: 10px;
    }
  }

  &__comment-form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__comment-form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__comment-button{
    width: fit-content;
    margin-top: 10px;
  }

  &__comment-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style: none;
  }

  &__comment-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    & img{
      background: #FBFBFF;
      border-radius: 50%;
    }
    & span{
      padding: 8px 12px;
      background: #FBFBFF;
      border-radius: 10px;
      font-size: 14px;
    }
  }

  &__comment{
    font-size: 14px;
    color: #afafaf;
  }

  &__story-user{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }

}

.dropdown .dropdown-toggle{
  &::after{
    display: none;
  }
}


.st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st4{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}