@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$font-family-base:'Manrope', sans-serif;
$blue:#FF331F;
$light-white: #FBFBFF;

:root{
    --bs-body-color:#001242;
}
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './components/userprofile.scss';
.btn-primary{
    color:$light-white;
    &:hover{
        color:#FFFFFF;
    }
}

.btn-outline-primary{
    &:hover{
        color: #FFFFFF;
    }
}
.navbar{
    background: $light-white;
    z-index: 1;
}